<div class="card">
  <div class="card-title">
    <h3 class="heading"><%= contestant.first_name + " " + contestant.last_name %></h3>
    <h4 class="text-muted"><%= contestant.user.username %></h4>
  </div>
</div>