<div class="text-center">
  <% @contestants.each do |c| %>
    <div class="card">
      <div class="card-title">
        <h3 class="heading"><%= c.user.username %></h3>

        <span class="text-muted">
          <%= c.first_name + " " + c.last_name  %>
        </span>
      </div>
      <%= link_to "View contestant info", c, class: 'btn btn-default' %>
    </div>
  <% end %>
</div>
