<div class="text-center">
  <% @contestants.each do |contestant| %>
    <div class="card">
      <div class="card-title">
        <h3 class="heading"><%= contestant.user.username %></h3>

        <span class="text-muted">
          <%= contestant.full_name %>
        </span>
      </div>
      <%= link_to 'View contestant info', contestant, class: 'btn btn-default' %>
    </div>
  <% end %>
</div>
