<div class="wrapper form-wrapper col-md-8 offset-md-2 text-center ">
  <h1 class="heading">Register as:</h2>
    <div class="row wrapper">
      <%= link_to "Recruiter", new_recruiter_path, class:"col-md-4 register-option" %>
      <%= link_to "Contestant", new_contestant_path, class: "col-md-4 register-option"%>
      <%= link_to "School", new_school_path, class: "col-md-4 register-option" %>
    </div>
  <%= render "devise/shared/links" %>
</div>

