<div class="text-center">
  <% unless @contests.empty? && @schools.empty? && @recruiters.empty? %>
    <% unless @contests.empty? %>
      <h3>Contests:</h3>
      <%= render 'contests/body', contests: @contests %>
    <% end %>

    <% unless @recruiters.empty? %>
      <h3>Recruiters:</h3>
      <%= render 'recruiters/body', recruiters: @recruiters %>
    <% end %>

    <% unless @schools.empty? %>
      <h3>Schools:</h3>
      <%= render 'schools/body', schools: @schools %>
    <% end %>
  <% else %>
    <h3>There is nothing here ... :-(</h3>
  <% end %>
</div>
