<div class="text-center">
  <%= render 'body', contests: @contests %>
</div>

<% if current_user.recruiter? %>
  <%= link_to '+', new_contest_path, class: 'btn btn-lg btn-default btn-add btn-circle', data: { toggle: 'tooltip', placement: 'top' }, title: 'Add contest' %>
<% end %>
