<div class="mt-4">
  <img class="col-md-3 float-left" src="<%= @user.image_src %>" alt="<%= @user.username%>">
  <div class="col-md-9 float-right text-justify">
    <%= @user.description %>
  </div>
</div>
<% unless current_user.id == @user.id %>
  <div class="mt-6">
    <%= link_to 'Send Message', conversations_path(sender_id: current_user.id, receiver_id: @user.id), method: :post, class: 'btn btn-info form-control' %>
  </div>
<% end %>
