<div class="mt-4">
  <img class="col-md-3 float-left" src="<%= @user.image_src %>" alt="<%= @user.username%>">
  <div class="col-md-9 float-right text-justify">
    <%= @user.description %>
  </div>
</div>
