<div class="wrapper">
  <div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1">
    <%= form_for @submission, url: contest_submissions_path(@contest) do |f| %>
      <%= f.text_area :source, placeholder: "Source code" %>
      <br>
      
      <%= f.submit class: 'btn btn-lg btn-default form-control'%>
    <% end %>
  </div>
</div>