<div class="text-center">
  <h1 class="heading">Submissions for <%= @contest.title %>: </h1>

  <% @contest.submissions.each do |s| %>
    <div class="col-md-6 offset-md-3 submission">
      <%= render 'submission', submission: s %>
    </div>
  <% end %>
</div>
