/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

body {
  background-color: whitesmoke;
}

.nav-link:hover {
  color: #0288d1 !important;
}

.wrapper {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.btn {
  margin: 2vh;
}

.btn-default, .register-option {
  background-color: #0288d1;
  color: white;
}

.btn-default:hover, .register-option:hover {
  background-color: #0277bd;
  color: white;
  text-decoration: none;
}

.heading {
  margin-top: 5vh;
}

.form-wrapper {
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 20px;
}

.form-heading {
  margin-top: 1vh;
  margin-bottom: 3vh;
}

.register-option {
  padding-top: 20vh;
  padding-bottom: 20vh;
  border: 10px solid whitesmoke;
  font-size: 24px;
  font-weight: bold;
}
