// Place all the styles related to the submissions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.score {
  padding-top: 10px;
}

.submission {
  margin-top: 3vh;
}

pre {
  background-color: white;
  border: 1px solid lightgrey;
  padding: 10px;
}