<div class="card">
  <div class="card-title">
    <h3 class="heading"><%= recruiter.company_name %></h3>
    <h4 class="text-muted"><%= link_to recruiter.website, recruiter.website %></h4>
  </div>
  <div class="card-body">
    <%= recruiter.description %>
  </div>
</div>